
.signup-container {
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7fafc;
}

.signup-box {
    max-width: 40rem;
    width: 40rem;
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    
}

.signup-title {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-label {
    display: block;
    color: #4a5568;
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.form-input {
    width: 100%;
    padding: 0.5rem;
    border: 0.0625rem solid #cbd5e0;
    border-radius: 0.25rem;
    font-size: 1rem;
    color: #4a5568;

    outline: none;
    transition: box-shadow 0.2s ease-in-out;
}



.form-actions {
    display: flex;
    justify-content: center;
}

.signup-button {
    padding: 0.5rem 1rem;
    background-color: #48bb78;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;

}

.signup-button:hover {
    background-color: #38a169;
}
