.quiz-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #333;
}

.quiz-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.quiz-item {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.quiz-item:hover {
    transform: translateY(-0.25rem);
}

.quiz-item h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.quiz-item p {
    margin-bottom: 1rem;
    color: #666;
}

.button-container {
    display: flex;
    gap: 1rem;
}

.show-more-button {
    padding: 0.5rem 1.25rem;
    background-color: #406892;
    color: white;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
   
}

.show-more-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.delete-button {
    padding: 0.5rem 1.25rem;
    background-color: #790813;
    color: white;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.delete-button:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 800px;
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
    transition: box-shadow 0.3s ease-in-out;
}



.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.close-button {
    padding: 0.5rem 1rem;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: #c82333;
}

.delete-button-modal {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.5rem 1rem;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.delete-button-modal:hover {
    background-color: #c82333;
}

.map-container {
    margin-top: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.map-container .leaflet-container {
    height: 25rem;
    width: 100%;
    border-radius: 0.5rem;
}

.questions-list {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.question-item {
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 0.25rem;
    
}
